
html{
	font-size: 16px;
}
body {
/*  background: grey;*/
/*     overflow: hidden;*/
         background: rgba(240, 226, 225, 0.5);
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
   overflow-x: hidden;

}


.logocontainer{
    max-height: 250px;
    overflow: hidden;
     position: relative;
}



#logo{

/*    transform: translateY(-11em);*/
    width:600px;
    max-width: 100%;

    opacity: 1;
    position: relative;
/*     overflow: hidden*/
/*    z-index: 1000;*/

}
#vector{
    opacity: 0;
    -webkit-animation-name: opac;
            animation-name: opac;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
/*     z-index: 1000;*/

}
@-webkit-keyframes opac {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes opac {
    from {opacity: 0;}
    to {opacity: 1;}
}
.mainrow{
    position: relative;
/*    transform: translateY(-11em);*/
/*    top:-200px;*/


}
.cat{


/*max-height: 500px;*/
max-width:100%;
opacity: 0;
margin: 10px 0px 0 0 ;

    background-color: transparent;
    padding:0px;
/* transform: translateY(-11em);*/

    text-align: center;

    overflow: hidden;

}

.cat span{

    position: relative;

    font-size: 1.8rem ;
/*    font-weight:bold;*/
    font-family: 'Comfortaa', cursive;
    color: aliceblue;


    }
@media only screen and (max-width: 768px) {
   .cat span{


    font-size: 1.5rem ;


    }
}


#biblia:before{
    width: 80%;
    height: 100%;
    content: "Στο κατάστημά μας θα βρείτε μεγάλη ποικιλία βιβλίων για όλα τα γούστα. Ιστορικά, αστυνομικά, φανταστικά καταπληκτικά, υπέροχα και πολύ φτηνά ";

    position: absolute;
    z-index: 10;
    background-color:rgba(93, 95, 126,0);

    color:#fff;
    text-shadow: 2px 2px 7px grey;
    margin: 0;
    top:-250px;
    left: 10%;
    opacity: 0;
     -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
     -webkit-transition-delay: 0.2s; /* Safari */
    -o-transition-delay: 0.2s;
       transition-delay: 0.2s;
     font-size: 1.1rem ;
    text-align: left;
    padding: 15px 5px 0 10px ;
}
#biblia:hover:before{
   opacity: 1;
    z-index: 100;
     background-color:rgba(93, 95, 126,0.7);
     top:35px;
}
#xartika:before{
    width: 80%;
    height: 100%;
    content: "Στο κατάστημά μας θα βρείτε μεγάλη ποικιλία βιβλίων για όλα τα γούστα. Ιστορικά, αστυνομικά, φανταστικά καταπληκτικά, υπέροχα και πολύ φτηνά ";

    position: absolute;
    z-index: 10;
    background-color:rgba(93, 95, 126,0);

    color:#fff;
    text-shadow: 2px 2px 7px grey;
    margin: 0;
    top:-250px;
    left: 10%;
    opacity: 0;
     -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
     -webkit-transition-delay: 0.2s; /* Safari */
    -o-transition-delay: 0.2s;
       transition-delay: 0.2s;
     font-size: 1.1rem ;
    text-align: left;
    padding: 15px 5px 0 10px ;
}
#xartika:hover:before{
   opacity: 1;
    z-index: 100;
     background-color:rgba(126, 93, 112,0.7);
     top:35px;
}#dora:before{
     width: 80%;
    height: 100%;
    content: "Στο κατάστημά μας θα βρείτε μεγάλη ποικιλία βιβλίων για όλα τα γούστα. Ιστορικά, αστυνομικά, φανταστικά καταπληκτικά, υπέροχα και πολύ φτηνά ";

    position: absolute;
    z-index: 10;
    background-color:rgba(93, 95, 126,0);

    color:#fff;
    text-shadow: 2px 2px 7px grey;
    margin: 0;
    top:-250px;
    left: 10%;
    opacity: 0;
     -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
     -webkit-transition-delay: 0.2s; /* Safari */
    -o-transition-delay: 0.2s;
       transition-delay: 0.2s;
      font-size: 1.1rem ;
    text-align: left;
    padding: 15px 5px 0 10px ;
}
#dora:hover:before{
   opacity: 1;
    z-index: 100;
     background-color:rgba(126, 124, 93,0.8);
     top:35px;
}
#games:before{
    width: 80%;
    height: 100%;
    content: "Στο κατάστημά μας θα βρείτε μεγάλη ποικιλία βιβλίων για όλα τα γούστα. Ιστορικά, αστυνομικά, φανταστικά καταπληκτικά, υπέροχα και πολύ φτηνά ";
    font-size: 1.1rem ;
    text-align: left;
    padding: 15px 5px 0 10px ;
    position: absolute;
    z-index: 10;
    background-color:rgba(93, 95, 126,0);

    color:#fff;
    text-shadow: 2px 2px 7px grey;
    margin: 0;
    top:-250px;
    left: 10%;
    opacity: 0;
     -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
     -webkit-transition-delay: 0.2s; /* Safari */
    -o-transition-delay: 0.2s;
       transition-delay: 0.2s;
}
#games:hover:before{
   opacity: 1;
    z-index: 100;
     background-color:rgba(93, 126, 108,0.8);
     top:35px;
}
.word{

	width:80%;
    margin: auto;

}
.spnCon{

	-webkit-box-flex: 1;

	    -ms-flex-positive: 1;

	        flex-grow: 1;

/*
    height: 35px;

*/
    background-color: #5D5F7E;
     z-index: 110;


}.spnCon2{

    background-color: #7E5D70;
     z-index: 110;

}.spnCon3{

    background-color: #7E7C5D;
     z-index: 110;

}.spnCon4{

    background-color: #5D7E6C;
     z-index: 110;

/*    rgb(93, 126, 108);*/
}
.iconrow{
	width:80%;
	overflow: hidden;
	background-color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-line-pack: center;
	    align-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: auto;
	   -webkit-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
     -webkit-box-shadow: 5px 5px 25px grey;
             box-shadow: 5px 5px 25px grey;
}
.iconrow:hover{
	-webkit-box-shadow: 0px 0px 0px grey;
	        box-shadow: 0px 0px 0px grey;

}


.icon {

    padding:3vw;
    opacity: 1;
    background-color:white;
/*    padding:60px;*/
    z-index:10;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.icon:hover{
    background-color: grey;


}


.commu{
/*    position: relative;*/
/*    margin-top: 10vh;*/
/*    transform: translateY(-18em);*/
/*    height:40vh;*/
    background-color:hsla(247, 10%, 33%,0.6);
    opacity: 1;

/*
    display: flex;
    justify-content: center;
    align-content: center;
*/
/*    align-items: center;*/
/*    bottom: 0;*/

}
.info{
	padding: 3rem 0
}
.fcont{

/*    text-align: center;*/
    color:white;
/*    padding: 0.11rem 0.11rem */

}
.fcont li {
    font-size: 1.4em;
    list-style: none;
    padding: 1rem 0.2rem ;
	margin: 15px 5px;
}
@media only screen and (max-width: 768px){
.fcont li {
    font-size: 0.8rem;
    list-style: none;
    padding: 0.5rem 0rem ;
	margin: 15px 5px;
}
	.info{
	padding: 1rem 0
}
	.contact{
    padding:  0.4rem 0rem;

}
	ul{
		padding:15px;
	}
}
li>a>.fa{
	margin: 0px 15px 10px 0px;
	 font-size: 1.5em;
}
.contact{
    padding:  1rem 1rem;

}
.map{
	position: relative;
/*	height:auto;*/
	border-top: 20px solid lightgrey;
    padding: 0px;
/*    margin: 20px 0px 0px 0px;*/
/*
    border: solid  2px ;
    border-color: hsla(247, 10%, 33%,0.4);
    border-radius: 7px;
*/


}
.footer{
    height:50px;
    background-color: lightgray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
    color: grey;
}
.footer span{
    color: dimgray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;



}
#k{
    font-size: 8pt;
    color: #fff;
        font-family: 'Comfortaa', cursive;
     -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
#k:hover{
        color: grey;
    font-size: 12pt;
        font-family: 'Comfortaa', cursive;
}
.face{
    margin: 30px 0px;
    height:200px;
    font-size: 1.3em;
    opacity: 0.5
/*    padding:  5rem 1rem;*/


}
.face *{
    padding:  1rem 1rem;
    text-align: right
}
h2{

    border-left: 6px solid #eb5e33;
    padding-left: 10px;
	-webkit-transform: translateX(-16px);
	    -ms-transform: translateX(-16px);
	        transform: translateX(-16px)}

a {
  color: #eaeaea;
  text-decoration: none;
}


